body {
    -webkit-touch-callout: none !important; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none !important; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none !important; /* prevent copy paste, to allow, change 'none' to 'text' */
}

#wrongRotation {
    display: none;
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    touch-action: none;
}

#wrongRotation img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    touch-action: none;
}

@font-face {
    font-family: "gameFont";
    src: url("../assets/fnt/DejaVuSansCondensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
